.landing-container {
    display: flex;
    min-height: 90vh;
    justify-content: space-between;
    align-items: center;
    color: #070707;
    padding: 0 32px;
    font-family: 'Bangers', cursive;
    margin: 0;
    flex-wrap: wrap;
}